body {
  color: white;
  margin: 0;
  padding:0
}

.carImage{
  transition: transform .5s;
}
.carImage:hover {
  transform: scale(1.05);
}

.swiper{
  min-height: 370px;
}

.swiper .swiper-pagination{
  bottom:0px !important;
}

.swiper-pagination-bullet-active{
 background: black !important;
 scale:1.2;
}










