:root {
  --brand-primary: #284e80;
  --brand-background-primary: #ffffff;
  --brand-background-primary: #fafafa;

  --foreground-primary: #707070;
  --foreground-secondary: #141414;
  --foreground-inverted: #ffffff;
  --foreground-positive: #058a22;
  --foreground-alert: #bf2012;
  --ornament-border: #d5d5d5;
}

body {
  /* background: steelblue; */
  color: white;
  margin: 0;
  padding:0
}



.filterTab{
  color: var(--foreground-primary);
  border:none;
  background: none;
  padding:0px;
  margin-right:5px
}
.filterTab:hover{
  color: var(--foreground-secondary)
}
.active{
  border-bottom: rgb(42, 96, 157) solid 2px;
}
